@charset "utf-8";
/**
 * TabsPanel
 *
 * author: Storm
 * date: 2017/04/10
 */

.s-tabs-panel {
  transition: opacity .3s ease-in-out;

  &-enter {
    opacity: 0;
  }
  &-leave-active {
    display: none;
  }
}
