@charset "utf-8";
/**
 * release
 *
 * author: Storm
 * date: 2017/04/18
 */


.section {

  &-title {
    line-height: .64rem;
    color: #ccc;
  }

  & + & {
    margin-top: .32rem;
  }
}

.game {

  &-name {
    font-size: .24rem;
    color: #333;
  }

  &-icon {
    width: 1rem;
    height: 1rem;
    display: block;
    box-shadow: 0 .08rem .16rem 0 #E0E0E0;
    border-radius: .1rem;

  }

  &-grid {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    margin-left: -.2rem;
    margin-right: -.2rem;

    .game-item {
      width: 33.3333333333%;
      margin-top: .2rem;
      margin-bottom: .6rem;
      padding: 0 .2rem;
    }

    .game-icon {
      margin-left: auto;
      margin-right: auto;
    }

    .game-name {
      line-height: 1;
      margin-top: .18rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

  }

}
