@charset "utf-8";
/**
 * attr
 *
 * author: Storm
 * date: 2017/04/23
 */

.s-attr {

  min-height: .88rem;
  height: auto;
  padding: .24rem .28rem;
  font-size: .24rem;

  .s-cell-left {

  }

  &-label {
    color: #ccc;
    width: 1.56rem;
    flex: none;
  }

  &-control {
    color: #666;
    line-height: .32rem;
  }

}
