@charset "utf-8";
/**
 * Title
 *
 * author: Storm
 * date: 2017/04/23
 */

.goodsDetail {

  font-size: .24rem;

  &-swiper {
    background-color: #ccc;

    img {
      display: block;
      width: 6.4rem;
      height: 4rem;
    }

  }

  &-header {
    padding: .28rem 0 .3rem;
    margin: 0 .24rem;
    line-height: .36rem;
    border-bottom: .01rem dashed #b1b1b1;

    h3 {
      margin-bottom: .16rem;
    }

  }

  &-price {
    font-size: .48rem;
    font-weight: bold;
  }

  &-first {
    color: #fd802c;
  }

  &-notify {
    border-top: .01rem solid #eee;
  }

}

.swiper-pagination-bullet-active {
  background-color: #fff;
}
