@charset "utf-8";
/**
 * Cell
 *
 * author: Storm
 * date: 2017/04/16
 */

.s-cell {
  background-color: #fff;
  padding-left: .24rem;
  padding-right: .24rem;
  height: .88rem;
  line-height: 1.3333333333333333;
  display: flex;
  //font-size: .26rem;
  //color: #333;
  align-content: space-between;
  align-items: center;

  &-lg {
    height: 1rem;
    line-height: 1rem;
  }

  & + & {
    border-top: .01rem solid #E5E5E5;
  }

  &-left {
    flex-grow:1;
    display: flex;

    .s-icon:first-child {
      color: #D6DAE0;
      margin-right: .12rem;
      line-height: 1.3333333333333333;
    }
  }
  &-right {
    text-align: right;
    align-self: center;
    white-space: nowrap;

    .s-icon:last-child {
      color: #D8D8D8;
    }

  }

  .s-radio + .s-radio {
    margin-left: .53rem;
  }

}
