@charset "utf-8";
/**
 * Cell
 *
 * author: Storm
 * date: 2017/04/16
 */

.s-cell {
  background-color: #fff;
  padding: .31rem .24rem;
  display: flex;
  line-height: 1;
  font-size: .26rem;
  color: #333;

  &-lg {
    padding: .37rem .24rem;
  }

  &:hover,
  &:focus {
    opacity: .75;
  }

  & + & {
    border-top: .01rem solid #E5E5E5;
  }

  &-left {
    flex-grow: 1;
  }
  &-right {
    align-self: center;
    white-space: nowrap;
  }
}
