@charset "utf-8";
/**
 * Cell
 *
 * author: Storm
 * date: 2017/04/16
 */

.s-cell {
  background-color: #fff;
  padding-left: .24rem;
  padding-right: .24rem;
  height: .88rem;
  line-height: .88rem;
  display: flex;
  font-size: .26rem;
  color: #333;

  &-lg {
    height: 1rem;
    line-height: 1rem;
  }

  & + & {
    border-top: .01rem solid #E5E5E5;
  }

  &-left {
    flex-grow: 1;
  }
  &-right {
    align-self: center;
    white-space: nowrap;
  }
}
