@charset "utf-8";
/**
 * Tabs
 *
 * author: Storm
 * date: 2017/04/10
 */

.s-tabs {

  display: flex;
  background-color: #fff;

  &-nav {

    font-size: .24rem;

    &-item {
      text-align: center;
      cursor: pointer;
      color: #999;
      position: relative;
      transition: all .3s ease-in-out;

      &.on {
        color: #fd802c;
      }

    }

  }

  &-horizontal {

    flex-direction: column;

    .s-tabs-nav {
      ul {
        display: flex;
      }

      &-item {
        flex-grow: 1;
        line-height: .78rem;
        border-bottom: .02rem solid transparent;

        &.on {
          border-bottom-color: #fd802c;
        }

        & + .s-tabs-nav-item:before {
          content: '';
          width: 1px;
          height: .24rem;
          top: 50%;
          margin-top: -.12rem;
          background-color: #e5e5e5;
          position: absolute;
          left: -.005rem;
        }
      }
    }

    .s-tabs-panel {
      padding: .3rem;
    }
  }

  &-vertical {

    .s-tabs-nav {

      align-self: stretch;
      background-color: #fbfbfb;

      &-item {
        width: 1.6rem;
        height: .88rem;
        line-height: .88rem;

        &.on {
          background-color: #fff;
        }

      }
    }

    .s-tabs-content {
      align-self: stretch;
      flex-grow: 1;
    }

    .s-tabs-panel {
      padding: .2rem;
    }

  }

}
