@charset "utf-8";
/**
 * author: Storm
 * date: 2017/03/28
 */

body {
  font: .24rem/1.5 "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  color: #333;
  background-color: #f4f4f4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: #1976d2;
  transition: color .3s ease-in-out;

}
$placeholder: #ccc;

.s-placeholder {
  color: $placeholder;
}
::-webkit-input-placeholder {
  color: $placeholder;
}
:-moz-placeholder {
  color: $placeholder;
}
:-ms-input-placeholder {
  color: $placeholder;
}

h3 {
  font-size: .28rem;
}

/* 让文本与inline-block组件对齐 */
.text-middle {
  vertical-align: middle;
  display: inline-block;
}
.content {
  padding-left: .24rem;
  padding-right: .24rem;

  &-lg {
    padding-left: .3rem;
    padding-right: .3rem;
  }

  &-neg {
    margin-left: -.24rem;
    margin-right: -.24rem;
  }
}


$required: #fa5a5a;

.c-9 {
  color: #999;
}
.c-primary {
  color: #FF7653;
}

.bgc-white {
  background-color: #fff;
}

.lh-1 {
  line-height: 1;
}

.s-form-required {
  &:before {
    content: '*';
    color: $required;
    position: absolute;
    left: .24rem;
  }
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.fz-22 {
  font-size: .22rem;
}

.mt-15 {
  margin-top: .15rem;
}
.mt-20 {
  margin-top: .2rem;
}
.mt-30 {
  margin-top: .3rem;
}
