@charset "utf-8";
/**
 * author: Storm
 * date: 2017/03/28
 */

body {
  font: 14px/1.5 "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  color: #657180;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

a {
  color: #1976d2;
  transition: color .3s ease-in-out;

  &:hover {
    text-decoration: underline;
  }

}


#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;

  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0 150px;

  & h1 {
    font-size: 48px;
    border-bottom: 1px solid #d7dde4;
    margin-bottom: 30px;
    text-align: center;
  }
}
