@charset "utf-8";
/**
 * author: Storm
 * date: 2017/03/28
 */

body {
  font: .24rem/1.5 "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  color: #333;
  background-color: #F4F4F4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #1976d2;
  transition: color .3s ease-in-out;

  &:hover {
    text-decoration: underline;
  }

}

$placeholder: #ccc;

::-webkit-input-placeholder {
  color: $placeholder;
}
:-moz-placeholder {
  color: $placeholder;
}
:-ms-input-placeholder {
  color: $placeholder;
}


#app {
  max-width: 640px;
  min-height: 100vh;
  margin: 0 auto;
}

#app > div {
  min-height: 100vh;
}

// 让文本与inline-block组件对齐
.text-middle {
  vertical-align: middle;
  display: inline-block;
}
