@charset "utf-8";
/**
 * author: Storm
 * date: 2017/03/28
 */

.s-radio {
  position: relative;
  cursor: pointer;

  & + & {
    margin-left: 1em;
  }

  &-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &-inner {
    position: relative;
    top: -.025em;
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    background-color: #fff;
    border: 1px solid #d7dde4;
    border-radius: 50%;
    transition: border-color .3s ease-in-out;

    &:before {
      content: '';
      position: absolute;
      width: .5em;
      height: .5em;
      left: 50%;
      top: 50%;
      margin-top: -.25rem;
      margin-left: -.25rem;
      border-radius: 50%;
      background-color: transparent;
      transition: background-color .3s ease-in-out;
    }
  }

  &-input:checked + &-inner {
    border-color: #39f;

    &:before {
      background-color: #39f;
    }
  }

  &-text {
    display: inline-block;
    vertical-align: middle;
  }

}
