@charset "utf-8";
/**
 * Main
 *
 * author: Storm
 * date: 2017/04/17
 */

.s-main {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  padding-bottom: .24rem;

  &-white {
    background-color: #fff;
  }
}
