@charset "utf-8";
/**
 * Main
 *
 * author: Storm
 * date: 2017/04/17
 */

.s-main {
  position: relative;

  &-white {
    background-color: #fff;
  }

  .s-main-content {
    position: relative;
    padding-bottom: .24rem;
    min-height: 100%;
    min-height: 100vh;
  }

}

.header + .s-main .s-main-content {
  padding-top: .88rem;
}
