@charset "utf-8";
/**
 * Main
 *
 * author: Storm
 * date: 2017/04/17
 */

.s-main {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  position: relative;

  &-white {
    background-color: #fff;
  }

  .s-main-content {
    position: relative;
    padding-bottom: .24rem;
  }

}
