@charset "utf-8";
/**
 * Label
 *
 * author: Storm
 * date: 2017/04/10
 */

.s-label {
  display: inline-block;
  vertical-align: .1em;
  color: #f4f4f4;
  /*height: 1.3333333333333333em;
  line-height: 1.3333333333333333;*/
  line-height: 1;
  font-size: .75em;
  border-radius: .02rem;
  padding: .16666666666666666em .47619047619047616em;

  &-primary {
    background-image: linear-gradient(to left, #F9A567 0%, #FD684C 100%);
  }

  &-warning {
    background-image: linear-gradient(to right, #FFA931 0%, #FFD550 100%);
  }

  &-info {
    background-image: linear-gradient(to right, #928AFC 0%, #BD96F9 100%);
  }

  &-android,
  &-ios,
  &-jailbreak {
    padding-left: .5714285714285714em;
    padding-right: .5714285714285714em;
    border-radius: .6666666666666666em;
    min-width: .64rem;
    text-align: center;
  }

  &-android {
    background-image: linear-gradient(to left, #0BC1B5 0%, #1AE5B5 100%);
  }

  &-ios {
    background-image: linear-gradient(to left, #62BEFF 0%, #67DDF3 100%);
  }

  &-jailbreak {
    background-image: linear-gradient(to left, #928AFC 0%, #BD96F9 100%);
  }

  &-outline {
    font-size: .22rem;
    border: 1px solid #A1B9E1;
    color: #A1B9E1;
    padding: .06rem .27rem;
    border-radius: .18rem;
  }

}
