@charset "utf-8";
/**
 * Cell Intro
 *
 * author: Storm
 * date: 2017/04/17
 */

.s-cell-intro {
  font-size: .22rem;
  line-height: 1.2727272727272727;
  padding: .11rem .24rem;
  background-color: #f4f4f4;
  color: #666;
  display: flex;

  &-primary {
    color: #F37652;
  }

  &-icon {
    font-size: .2rem;
    margin-left: -.1rem;
    margin-right: .12rem;
    color: #FF7653;
    padding-top: .03rem;
  }

}
