@charset "utf-8";
/**
 * Cell Intro
 *
 * author: Storm
 * date: 2017/04/17
 */

.s-cell-intro {
  font-size: .22rem;
  line-height: 1;
  padding: .14rem .24rem;
  background-color: #f4f4f4;
  color: #666;

  &-primary {
    color: #F37652;
  }

  &-icon {
    font-size: .2rem;
    margin-left: -.1rem;
    margin-right: .02rem;
    color: #FF7653;
  }

}
