@charset "utf-8";
/**
 * Header
 *
 * author: Storm
 * date: 2017/04/10
 */

.header {
  height: .88rem;
  position: fixed;
  z-index: 1024;
  width: 6.4rem;
  margin-left: auto;
  margin-right: auto;
  top: 0;

  &-default {
    background-image: linear-gradient(to left, #f25200 0%, #ff9616 100%);
    color: #fff;

    a {
      color: #fff;
    }

  }

  &-transparent {
    background-color: transparent;

    a {
      color: #fff;
    }
  }

  &-white {
    background-color: #fff;
    color: #333;

    .header-back {
      background-image: url(../../assets/icon-back-white.png);
    }

    a {
      color: #333;
    }
  }

  &-l,
  &-r {
    position: absolute;
    top: 0;
    line-height: .88rem;
    height: .88rem;
  }

  &-l {
    left: 0;
  }

  &-r {
    right: 0;
    font-size: .28rem;

    a {
      display: inline-block;
      font-size: .28rem;
      padding-left: .2rem;
      padding-right: .2rem;
    }
  }

  &-c {
    flex-grow: 1;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    overflow: hidden;
  }

  &-back {
    box-sizing: content-box;
    display: inline-block;
    height: .88rem;
    padding: 0 .24rem;
    width: .2rem;
    cursor: pointer;
    background: url(../../assets/icon-back.png) no-repeat center;
    background-size: .2rem .36rem;
  }

  &-title {
    font-size: .32rem;
    line-height: .88rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-line {
    color: rgba(255,255,255,.2);
    margin-left: .022rem;
    margin-right: .022rem;
  }

}
