@charset "utf-8";
/**
 * author: Storm
 * date: 2017/03/28
 */

.s-checkbox {
  position: relative;
  cursor: pointer;

  & + & {
    margin-left: 1em;
  }

  &-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &-inner {
    position: relative;
    top: -.025em;
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    background-color: #fff;
    border: .125em solid rgba(0, 0, 0, .6);
    transition: border-color .3s ease-in-out, background-color .3s ease-in-out;

    &:before {
      content: '';
      position: absolute;
      bottom: .25em;
      height: .6700em;
      left: .2445em;
      border-bottom: .125rem solid #fff;
      border-right: .125rem solid #fff;
      opacity: 0;
      transform: rotate(45deg);
      transition-delay: .1s;
      transition: opacity .3s ease;
      width: .3125em;
      top: -.025em;
    }
  }

  &-input:checked + &-inner {
    background-color: #2196f3;
    border-color: #2196f3;

    &:before {

      opacity: 1;
    }
  }

  &-text {
    display: inline-block;
    vertical-align: middle;
  }

}
