@charset "utf-8";
/**
 * Search
 *
 * author: Storm
 * date: 2017/04/13
 */

.s-search {

  display: flex;
  position: relative;
  padding: .2rem .24rem;
  background-color: #fff;

  &-label {
    position: relative;
    flex: 1;
    display: block;

    &:before {
      content: '';
      background: url(../../assets/icon-search.png) no-repeat center;
      background-size: 100%;
      width: .24rem;
      height: .24rem;
      position: absolute;
      left: .2rem;
      top: 50%;
      margin-top: -.12rem;
    }

  }

  &-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: 1px solid #F67B29;
    height: .6rem;
    padding: 0 .36rem 0 .53rem;
    border-radius: .3rem 0 0 .3rem;
    color: #333;
    font-size: .24rem;
    background-color: #fff;
  }

  &-btn {
    border: none;
    height: .6rem;
    padding: 0 .36rem;
    background-image: linear-gradient(-174deg, #F75D25 1%, #FF9F50 100%);
    border-radius: 0 .3rem .3rem 0;
    color: #fff;
    font-size: .24rem;
  }

  &-primary {
    padding: .14rem .24rem;
    background-image: linear-gradient(to left, #f25200 0%, #ff9616 100%);
    color: #fff;

    .s-search {

      &-btn {
        background: none;
        margin-right: -.24rem;
        padding: 0 .24rem;
        font-size: .26rem;
      }

      &-input {
        border: none;
        border-radius: .3rem;
      }

    }

  }

}

.header .s-search {


  &-btn {

  }

  &-input {

  }
}
