@charset "utf-8";
/**
 * Link
 *
 * author: Storm
 * date: 2017/04/17
 */

.s-link {

  transition: opacity .15s ease-in-out;

  &-icon {
    color: #d2d2d2;
    font-size: .24rem;
    margin-left: .05rem;
    margin-right: -.05rem;
  }

  &:hover,
  &:focus {
    opacity: .75;
  }

}
