@charset "utf-8";
/**
 * 悬浮
 *
 * author: Storm
 * date: 2017/04/23
 */

.s-suspension {
  position: fixed;
  bottom: 0;
  padding: .15rem .24rem;
  background-color: #fff;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
